* {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

*::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

/* h2,
h3,
h4,
h5,
p,
.v-list-item {
  color: #0090b6;
} */


.custom-toast {
  border-radius: 30px !important;
  padding: 8px 20px !important;
}

.custom-toast-body {
  font-family: "Poppins", sans-serif !important;
  font-size: 14px;
  font-weight: 500;
}

.Vue-Toastification__container {
  position: fixed !important;
  top: 20px !important;
  left: 50% !important;
  right: auto !important;
  transform: translateX(-50%) !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: flex-start !important;
  align-items: center !important;
  width: auto !important;
  max-width: 100% !important;
  pointer-events: none !important;
  z-index: 9999 !important;
  margin: 0 auto !important;
}

.Vue-Toastification__toast {
  margin: 0 auto 10px auto !important;
  position: relative !important;
  width: auto !important;
  max-width: 400px !important;
  max-height: 100px !important;
  min-height: 50px !important;
}

.Vue-Toastification__toast-list {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  width: auto !important;
  margin: 0 !important;
  padding: 0 !important;
}

.Vue-Toastification__toast-body {
  display: flex !important;
  align-items: center !important;
  justify-content: start !important;
}

.Vue-Toastification__icon {
  margin: auto 10px auto 0 !important;
}

.Vue-Toastification__toast--success.custom-toast {
  background: linear-gradient(135deg, #005a10 0%, #0ad349 100%);
}

.Vue-Toastification__toast--error.custom-toast {
  background: linear-gradient(135deg, #690000 0%, #e22e2e 100%);
}

.Vue-Toastification__toast--info.custom-toast {
  background: linear-gradient(135deg, #00414d 0%, #0090b6 100%);
}

.Vue-Toastification__toast--warning.custom-toast {
  background: linear-gradient(135deg, #782800 0%, #d48300 100%);
}

.v-btn {
  text-transform: none;
}

.v-list-item {
  border-radius: 30px;
}

.v-list-item:hover {
  /* background-color: #00afdf; */
  background-color: #0090b6;
  color: #e8faff;
  transition: all 0.3s ease-in-out;
}

.v-list-item .v-icon:hover {
  color: #f4fafc;
}

.v-list-item-title {
  font-size: 16px !important;
  font-weight: normal !important;
}

.v-input__details {
  min-height: 16px !important;
  font-size: 10px !important;
  padding-top: 0 !important;
}

/* .v-input--density-compact input {
  background-color: #fff !important;
} */

.v-field--variant-outlined {
  border-radius: 10px !important;
  outline: none !important;
}

.v-field__overlay {
  background-color: #fff !important;
}

.v-btn--size-default,
.v-icon {
  min-width: 0 !important;
}

.v-icon--size-default {
  font-size: calc(var(--v-icon-size-multiplier) * 1.6em) !important;
}

.v-btn--size-default {
  --v-btn-height: 25px !important;
}

.v-data-table {
  max-width: 100%;
}

table th {
  height: 0 !important;
}

thead .v-data-table__th .v-data-table-header__content {
  color: #a2a0a0;
}

.payment-indication-container {
  position: fixed;
  bottom: 20px;
  width: 100%;
  display: flex;
  z-index: 11 !important;
}

.payment-indication-container .payment-indication {
  height: 50px;
  width: 50%;
  margin: auto;
  padding: 0 13px;
  align-items: center;
  border-radius: 30px !important;
  color: #e0e7e9;
  font-size: 16px !important;
}

.payment-indication-container .payment-indication h3 {
  font-weight: normal;
}

.payment-indication-container .v-btn {
  font-weight: normal !important;
}

@media (max-width: 960px) {
  .payment-indication-container .payment-indication {
    width: 80%;
  }

  .image-section-item {
    width: 50%;
  }
}

.to-show-head {
  display: none;
}

.to-show {
  display: none;
}

@media (max-width: 450px) {
  .to-hide-head {
    display: none;
  }

  .to-show-head {
    display: flex;
  }
}

@media (max-width: 530px) {
  .to-hide {
    display: none;
  }

  .to-show {
    display: flex;
  }
}

.skeleton-loader {
  display: flex;
  align-items: center;
  justify-content: center;
}

.connection-container {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.connection-banner {
  text-align: center;
  padding: 4px 30px;
  border-radius: 0 0 30px 30px;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.connection-banner.offline {
  background: linear-gradient(135deg, #690000 0%, #e22e2e 100%);
  color: #fffafa;
}

.connection-banner.slow {
  background: linear-gradient(135deg, #583f00 0%, #e2b032 100%);
  color: #fffafa;
}

.connection-banner.waiting {
  background: linear-gradient(135deg, #005e6e 0%, #31bcd4 100%);
  color: #fffafa;
}